<h1>Add a New Team!</h1>

<%= form_for @team do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :locality %>
  <%= f.text_field :locality%><br>
  <%= f.label :established %>
  <%= f.number_field :established %><br>
  <h3>Add Superheroes!</h3>
  <%= f.fields_for :superheros do |sf| %>
    <%= render partial:"superheros/form", locals:{f: sf}%>
  <% end %>
  <%=f.submit%>
<% end %>
