<h3><%= @team.name %></h3>
<p><%= @team.locality %></p>
<p>Established: <%= @team.established %></p>

<% @team.superheros.each do |superhero| %>
  <%= link_to superhero do %>
    <div class="superhero-card">
      <%= render partial:"superheros/superhero", locals: {superhero: superhero} %>
    </div>
  <% end %>
<% end %>

<h3>Add A Team Member!</h3>
<%= form_for @superhero do |f| %>
<%= render partial:"superheros/form", locals: {superhero: @superhero, f: f} %>
<%= f.hidden_field :team_id, value: @team.id%>
<%= f.submit %>
<% end %>
