<!DOCTYPE html>
<html>
  <head>
    <title>FormHelpersAndPartials</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= link_to "View All Superheros", superheros_path %> | <%= link_to "Add A Superhero", new_superhero_path %>
  </body>
</html>
