<!DOCTYPE html>
<html>
  <head>
    <title>KAMALA'S SUPERHERO FANPAGE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to KAMALA KHAN'S SUPERHERO FANPAGE</h1>
    <h2>The BEST fanpage for individual superheroes to ever come out of Jersey City!</h2>
    <%= yield %>
    <%= link_to "View All Superheros", superheros_path %> | <%= link_to "Add A Superhero", new_superhero_path %> | <%= link_to "Go To My Teams Tracker!", teams_path %>
  </body>
</html>
